<h1>Listing articles</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Activities</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.activity_date.to_s %></td>
    <td><%= article.content[0..50] %></td>
    <td><%= article.user.name %></td>
    <td><%= article.created_at %></td>
    <% if can? :show, article %>
      <td><%= link_to 'Show', article %></td>
    <% end %>
    <% if can? :edit, article %>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <% end %>
    <% if can? :destroy, article %>
      <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Article', new_article_path %>
