<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<% if @user.friends.count > 0 %>
  <h2>Friends</h2>  
  <ul>
    <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.name %>
      <% if can? :destroy, friendship %>
        (<%= link_to "remove", friendship, :method => :delete %>)
      <% end %>
    </li>
    <% end %>
  </ul>
<% end %>

<% if @user.inverse_friends.count > 0 %>
  <h2>Users Who Have Befriended You</h2>
  <ul>
    <% for user in @user.inverse_friends %>
    <li><%= user.name %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Back', users_path %>
